# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# IDE's files
.vs/
.idea/

# Outputs
[Dd]ebug/
[Xx]64/
[Xx]86/

# dependences' raw zips
glew-2.1.0-win32.zip
glfw-3.3.8.bin.WIN32.zip
glm-0.9.8.5.zip
